<wv-layout
    wv-topleft-enabled="$isTopLeftEnabled"
    wv-topright-enabled="$isTopRightEnabled"
    wv-right-enabled="$isRightEnabled"
>
    <!--
    Layout: top zones (1, 2, 3 and 4)
    -->
    <wv-layout-top
        wv-enabled="vm.studyinformationEnabled || vm.toolbarEnabled || $isTopLeftEnabled || $isTopRightEnabled"
    >
        <!--
        Layout: top-left

        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, a button to quit the application, or a study list.
        
        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top-left>
                User content here...
            </wv-layout-top-left>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top1 ng-transclude="wvLayoutTopLeft"></wv-layout-top1>

        <!--
        Layout: top2
    
        @description
        @todo
        -->
        <wv-layout-top2 ng-show="vm.toolbarEnabled">
        </wv-layout-top2>

        <!--
        Layout: top3
    
        @description
        Zone containing the study information.
        -->
        <wv-layout-top3 ng-show="vm.studyinformationEnabled">
            <wv-study-information-breadcrumb
                wv-study-id="vm.selectedPaneStudyId"
                class="clearfix"
            ></wv-study-information-breadcrumb>
        </wv-layout-top3>

        <!--
        Layout: top-right
        
        @description
        Parameterizable zone.
        The user of the `wvWebviewer` directive can inject content here. For
        instance, additional controls to let the wvb interact with an host app.

        @example
        ```html
        <wv-webviewer ...>
            <wv-layout-top-right>
                User content here... For instance buttons:
                <button
                    bs-tooltip
                    data-placement="bottom"
                    data-title="Viewer mode"
                    class="wvButton"
                    ng-click="vm.hideEditor()"
                    ng-class="{'active': !vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-eye_open"></span>
                </button>
                <button
                    bs-tooltip
                    data-placement="bottom"
                    data-title="Editor mode"
                    class="wvButton"
                    ng-click="vm.showEditor()"
                    ng-class="{'active': vm.isEditorShown}"
                >
                    <span class="glyphicon glyphicon-notes"></span>
                </button>
            </wv-layout-top-right>
        </wv-webviewer>
        ```
        -->
        <wv-layout-top4 ng-transclude="wvLayoutTopRight">
        </wv-layout-top4>
    </wv-layout-top>

    <!--
    Layout: left
    
    @description
    Zone containing the study's information and the list of series.
    -->
    <wv-layout-left
        wv-enabled="vm.serieslistEnabled || vm.studyinformationEnabled"
        wv-handles-enabled="vm.leftHandlesEnabled"
    >
        <wv-layout-left1>
            <!-- Study Picker -->
            <wv-studylist 
                class="float__left" style="max-width: calc(100% - 4.5rem);"
                ng-show="vm.serieslistEnabled"
                wv-readonly="vm.readonly"
                wv-pickable-study-ids="vm.pickableStudyIds"
                wv-selected-study-ids="vm.selectedStudyIds"
            ></wv-studylist>

            <!-- Display mode toggle -->
            <div
                class="float__right wvButton"
                ng-show="vm.studyIslandsDisplayMode !== 'grid'"
                ng-click="vm.studyIslandsDisplayMode = 'grid'"

                bs-tooltip
                data-title="Grid Display"
                placement="right"
            >
                <span class="glyphicon glyphicon-th"></span>
            </div>
            <div
                class="float__right wvButton"
                ng-show="vm.studyIslandsDisplayMode !== 'list'"
                ng-click="vm.studyIslandsDisplayMode = 'list'"

                bs-tooltip
                data-title="List Display"
                placement="right"
            >
                <span class="glyphicon glyphicon-th-list"></span>
            </div>
        </wv-layout-left1>
        
        <wv-layout-left2>
            <!-- Study Islands -->
            <wv-study-island
                ng-show="vm.serieslistEnabled"
                ng-repeat="$studyId in vm.selectedStudyIds track by $index"

                wv-display-mode="vm.studyIslandsDisplayMode"
                wv-study-id="$studyId"
                wv-study-download-enabled="vm.studyDownloadEnabled"
                wv-video-display-enabled="vm.videoDisplayEnabled"
                wv-item-selection-enabled="vm.seriesItemSelectionEnabled"
                wv-selected-series-ids="vm.selectedSeriesIds[$studyId]"
                wv-selected-report-ids="vm.selectedReportIds[$studyId]"
                wv-selected-video-ids="vm.selectedVideoIds[$studyId]"
            ></wv-study-island>
        </wv-layout-left2>

        <wv-layout-left3>
            <!--
            Layout: left bottom
            
            @description
            Parameterizablee zone.
            The user of the `wvWebviewer` directive can inject content here and
            configure advanced display options. Have a look at the
            `wvLayoutLeftBottom` directive for the advanced configuration.

            @example
            ```html
            <wv-webviewer ...>
                <wv-layout-left-bottom>
                    User content here...
                </wv-layout-left-bottom>
            </wv-webviewer>
            ```
            -->
            <ng-transclude
                ng-transclude-slot="wvLayoutLeftBottom"
            >   
                <!-- Default layout left bottom disabled -->
                <wv-layout-left-bottom
                    ng-init="falseValue = false"
                    wv-enabled="falseValue"
                >
                </wv-layout-left-bottom>
            </ng-transclude>
        </wv-layout-left3>
    </wv-layout-left>

    <!--
    Layout: right
    
    @description
    Parameterizable zone.
    The user of the `wvWebviewer` directive can inject content here and
    configure advanced display options. Have a look at the `wvLayoutRight` 
    directive for the advanced configuration.

    @todo ng-if to make sure javascript is loaded after layout-main one's

    @example
    ```html
    <wv-webviewer ...>
        <wv-layout-right>
            User content here...
        </wv-layout-right>
    </wv-webviewer>
    ```
    -->
    <ng-transclude
        ng-transclude-slot="wvLayoutRight"
    >   
        <!-- Default layout right disabled -->
        <wv-layout-right
            ng-init="falseValue = false"
            wv-enabled="falseValue"
        >
        </wv-layout-right>
    </ng-transclude>

    <!--
    Layout: bottom

    @description
    This zone contains the notices. It is only used on mobile at the moment.
    -->
    <wv-layout-bottom
        wv-enabled="vm.noticeEnabled"
    >
        <wv-notice
            ng-if="vm.noticeEnabled"
            wv-content="vm.noticeText"
            wv-on-close="vm.noticeEnabled = false"
        ></wv-notice>
    </wv-layout-bottom>

    <!--
    Layout: main

    @description
    This zone contains the viewports & the toolbar.
    -->
    <wv-layout-main>
        <!--
        Toolbar
        -->
        <wv-toolbox 
            ng-show="vm.toolbarEnabled"
            wv-readonly="vm.readonly"
            wv-toolbox-buttons="vm.tools"
            wv-active-tool="vm.activeTool"
            wv-position="vm.toolbarPosition"
            wv-on-action-clicked="vm.onActionClicked($action)"
            wv-on-windowing-preset-selected="vm.onWindowingPresetSelected($windowWidth, $windowCenter);"
        ></wv-toolbox>

        <!--
        Splitpane
        -->
        <wv-splitpane
            wv-readonly="vm.readonly"
            ng-class="{
                'wvLayout__splitpane--toolbarAtTop': vm.toolbarEnabled && vm.toolbarPosition === 'top',
                'wvLayout__splitpane--toolbarAtRight': vm.toolbarEnabled && vm.toolbarPosition === 'right'
            }"
        >
             <wv-pane-policy
                wv-pane="$pane"
                wv-pane-position="$position"

                wv-on-item-dropped="!vm.readonly && vm.onItemDroppedToPane($position.x, $position.y, $data);"
             >
                <!--
                PDF Report
                -->
                <wv-pdf-viewer
                    ng-if="$pane.reportId"
                    wv-report-id="$pane.reportId"
                ></wv-pdf-viewer>

                <!--
                Video
                -->
                <wv-video
                    ng-if="!!$pane.videoId"
                    wv-video-id="$pane.videoId"
                ></wv-video>

                <!--
                Viewport
                -->
                <wv-viewport
                    ng-if="!!$pane.seriesId"
                    vp:series-id="$pane.seriesId" wv-size="{width: 1.0, height: 1.0}" wv-lossless="true"
                    wv-series="$series" wv-image="$image"
                    wv-droppable-series-ext="!vm.readonly && vm.serieslistEnabled"
                    wv-scroll-on-wheel-series-ext="!vm.readonly"
                    wv-viewport="$pane.csViewport"
                    wv-image-index="$pane.imageIndex"

                    wv-mobile-viewport-tool="!vm.readonly && vm.mobileInteraction"
                    wv-windowing-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.windowing"
                    wv-angle-measure-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.anglemeasure"
                    wv-length-measure-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.lengthmeasure"
                    wv-elliptical-roi-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.ellipticalroi"
                    wv-zoom-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.zoom"
                    wv-pan-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.pan"
                    wv-pixel-probe-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.pixelprobe"
                    wv-rectangle-roi-viewport-tool="!vm.readonly && !vm.mobileInteraction && vm.tools.rectangleroi"
                    wv-magnifying-glass-viewport-tool="!vm.readonly && !vm.mobileInteraction && {
                        enabled: vm.activeTool === 'magnify',
                        magnificationLevel: vm.tools.magnify.magnificationLevel,
                        magnifyingGlassSize: vm.tools.magnify.magnifyingGlassSize
                    }"
                >
                    <!--
                    Overlay
                    -->
                    <wv-overlay ng-if="vm.tools.overlay" wv-study-id="$series.studyId" wv-tags="$image.tags" wv-viewport="$pane.csViewport"></wv-overlay>

                    <!--
                    Timeline.

                    Always show the timeline — even if there is only 
                    one image — until we develop a specific component 
                    to display the image quality
                    -->
                    <div class="wv-overlay-timeline-wrapper">
                        <wv-timeline wv-series="$series" wv-readonly="vm.readonly"></wv-timeline>
                    </div>
                </wv-viewport>

                <!--
                Notice: droppable zone
                -->
                <wv-pane-overlay
                    ng-if="
                        !$pane.videoId &&
                        !$pane.seriesId &&
                        !$pane.reportId
                    "
                ></wv-pane-overlay>
            </wv-pane-policy>
        </wv-splitpane>
    </wv-layout-main>

</wv-layout>
