<div class="wv-overlay" ng-transclude>
    <span class="wvOverlay__studyBadge--{{vm.study.color}}"></span>

    <div class="wv-overlay-topleft" ng-show="vm.showTopLeftArea()">
        {{vm.wvSeries.tags.PatientName}}<br/>
        {{vm.wvSeries.tags.PatientID}}
    </div>
    <div class="wv-overlay-topright" ng-show="vm.showTopRightArea()">
        {{vm.wvSeries.tags.StudyDescription}}<br/>
        {{vm.wvSeries.tags.StudyDate}}<br/>
        #{{vm.wvSeries.tags.SeriesNumber}} - {{vm.wvSeries.tags.SeriesDescription}}<br/>
    </div>
    
    <div class="wv-overlay-bottomright" ng-show="vm.showBottomRightArea()">
        <span ng-show="vm.wvSeries.currentShownIndex != vm.wvSeries.currentIndex">(image {{vm.wvSeries.currentIndex+1}} in loading, image {{vm.wvSeries.currentShownIndex+1}} displayed)</br></span>
        zoom: {{vm.wvViewport.getScaleForFullResolution()|number:2}}x<br/>
        ww/wc: {{vm.wvViewport.voi.windowWidth|number:0}}/{{vm.wvViewport.voi.windowCenter|number:0}}
    </div>
</div>