<div ng-show="vm.series" class="wv-timeline-controls">
    <!--  @todo add tooltips -->

    <!-- Previous Button -->
    <span 
        ng-show="vm.series.imageCount > 1"
        ng-click="!vm.readonly && vm.series.goToPreviousImage()"

        data-title="Previous" 
        bs-tooltip data-placement="top"
        class="wv-timeline-controls-button"
    ><span class="fa fa-step-backward" class="wv-timeline-controls-vertical-sizing"></span></span>

    <!-- Input Field -->
    <span class="wv-timeline-controls-vertical-sizing">
        <input
            ng-disabled="vm.readonly"
            ng-model="vm.shownIndex" ng-model-options="{ debounce: 500, getterSetter: true }"

            class="wv-timeline-controls-input"
            type="number" min="1" step="1" max="{{ vm.series.imageCount }}"
        > of {{ vm.series.imageCount }}
    </span>

    <!-- Next Button -->
    <label 
        ng-show="vm.series.imageCount > 1"
        ng-click="!vm.readonly && vm.series.goToNextImage()"

        bs-tooltip data-placement="top"
        class="wv-timeline-controls-button"
    >
        <span class="fa fa-step-forward" class="wv-timeline-controls-vertical-sizing"></span>
    </label>

    <!-- Play Button -->
    <div
        ng-show="vm.series.imageCount > 1"
        class="wv-timeline-controls-play-button-wrapper"
    >
        <wv-play-button wv-readonly="vm.readonly" wv-series="vm.series"></wv-play-button>
    </div>
</div>
