<div>
    <ng-transclude></ng-transclude>

    <div class="cornerstone-enabled-image wv-cornerstone-enabled-image"
        oncontextmenu="return false"
        unselectable="on"
        onselectstart="return false;"
        onmousedown="return false;"
    ></div>
</div>