<div class="popover wvToolbar__windowingPresetConfigPopover">
    <div class="arrow"></div>
    <div class="popover-content">
        <form name="popoverForm">
            <!--
            Notice
            -->
            <p class="wvToolbar__windowingPresetConfigNotice">
                Click on the button to toggle the magnifying glass tool. You can configure its parameters in this panel.
            </p>

            <!-- 
            @todo use play tool style
            -->
            <!-- 
            Range Input: Magnification Level
            -->
            <label for="magLevelRange">Magnification Level</label>
            <input 
                type="range"
                ng-model="vm.magnificationLevel"
                min="1.5"
                max="10"
                step="0.5"
            />
            {{vm.magnificationLevel}}x
            
            <br/>

            <!-- 
            Range Input: Magnifying Glass Size
            -->
            <label for="magSizeRange">Magnifying Glass Size</label>
            <input 
                type="range"
                ng-model="vm.magnifyingGlassSize"
                min="50"
                max="500"
                step="25"
            />
            {{vm.magnifyingGlassSize}}px / {{vm.magnifyingGlassSize}}px
        </form>
    </div>
</div>
